.blue-block {display: flex

}

.blue {
    background-color: cornflowerblue;
    height: 160px;
    width: 19.8%;
    padding: 0 1px 0 0;
    margin-right: 1.5px;
}

.footer {
    display: flex;
}

.red-block {
    width: 19.8%;
    border-right: 1px solid black;
    padding-right: 7px;
    margin-top: 6px;
    margin-right: 7px;
    overflow-y: auto;
    height: 574px;
}

.red1 {
    background-color: red;
    height: 80px;
    margin-bottom: 8px;
}

.red2 {
    background-color: red;
    min-height: 239px;
    margin-bottom: 8px;
}

.py-block {
    width: 38.5%;
    margin-right: 4px;
    margin-top: 6px;
    border-right: 1px solid black;
}

.purple-block {
    display: flex;
    margin-right: 0;
    width: 577px;
}

.purple {
    background-color: rebeccapurple;
    height: 220px;
    width: 32.5%;
    margin: 0 2.4px 8px 1px;
}

.yellow-block {
    display: flex;
}

.yellow {
    background-color: yellow;
    width: 49%;
    height: 346px;
    margin-right: 2.4px;
}

.light-blue-border-block {
    width: 40.3%;
}

.light-blue-block1{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.light-blue-block2{
    display: flex;
    margin-left: 4px;
}

.light-blue {
    background-color: #85FFFF;
    height: 177px;
    width: 54.5%;
    margin: 6px 3px 6px 0;
}


